@charset "UTF-8";

:root {
    --cor1: #762945;
    --cor2: #ECD1DC;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: SF UI Display, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #0000001e;
}

.contain {
    flex: 1;
}

footer > div.camp3 {
    background: var(--cor2);
    color: var(--cor1);
    text-align: center;
    font-weight: 300;
    border-top: 3px solid var(--cor1);
    box-shadow: 0px 1px 8px 2px #00000040;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

footer p {
    font-size: 0.9em;
    margin: 0;
}

footer p a {
    text-decoration: none;
    color: var(--cor1);
}

div.camp1 {
    width: 240px;
    background: var(--cor2);
    color: var(--cor1);
    text-align: center;
    border: 2px solid var(--cor1);
    border-radius: 20px;
    box-shadow: 0px 1px 8px 2px #00000040;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

div.camp1 > h2 {
    font-weight: 800;
}

div.camp1 > p {
    font-weight: 300;
}

div.camp1 > h2:hover {
    color: #9b365b;
    text-shadow: 0px 1px 8px #00000040;
}

div.camp2 {
    width: 94vw;
    background: var(--cor2);
    color: var(--cor1);
    text-align: center;
    border: 2px solid var(--cor1);
    border-radius: 20px;
    box-shadow: 0px 1px 8px 2px #00000040;
    padding: 10px;
    margin: auto;
    }

input#tname {
    width: 73vw;
    background: var(--cor2);
    color: var(--cor1);
    text-align: center;
    font-size: 2.3vw;
    border: 2px solid var(--cor1);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 60px;
    margin-left: 14vw;
}

input#tname:focus {
    background: var(--cor2);
    color: var(--cor1);
    opacity: 1;
}

input#tname::placeholder {
    color: var(--cor1);
    outline: none;
}

input#btn {
    width: 27vw;
    background: var(--cor1);
    color: var(--cor2);
    text-align: center;
    font-weight: 200;
    border: 2px solid var(--cor1);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    margin-left: 60vw;
    margin-top: 20px;
}

input#btn:hover {
    background: #702642;
    color: #bea9b2;
}

div.camp4 {
    width: 63vw;
    background: var(--cor2);
    color: var(--cor1);
    text-align: center;
    border: 2px solid var(--cor1);
    border-radius: 20px;
    box-shadow: 0px 1px 8px 2px #00000040;
    cursor: pointer;
    padding: 10px;
    margin-left: 30vw;
    margin-bottom: auto;
}

div.camp4 > h2 {
    font-weight: 800;
}

div.camp4 > p {
    font-weight: 300;
}

div.camp4 > h2:hover {
    color: #9b365b;
    text-shadow: 0px 1px 8px #00000040;
}

/*Dispositivos Muito Pequeno (Iphone SE, Samsung J5 Pro)*/
@media screen and (max-width: 375px) {
    input#tname::placeholder {
        font-size: 2.6vw;
    }

    body {
        transition: width .9s;
    }
}

/*Dispositivos Médios (Tabletes)*/
@media screen and (min-width: 768px) {
    input#tname {
        width: 50vw;
        margin-top: 30px;
        margin-left: 35vw;
    }

    input#btn {
        width: 20vw;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 65vw;
    }

    div.camp3 {
        margin-top: 37.8vh;
    }

    div.camp3 > p {
        font-size: 1em;
    }

    div.camp4 {
        width: 380px;
        margin-left: 49%;
    }
}

/*Para dispositivos grandes (Laptop e Desktop)*/
@media screen and (min-width: 992px) {
    div.camp1 {
        width: 300px;
        margin-left: 66vw;
    }

    div.camp2 {
        width: 95vw;
    }

    div.camp1 > h2 {
        font-size: 2em;
    }

    div.camp1 > p {
        font-size: 1.1em;
    }

    input#tname {
        width: 57vw;
        font-size: 1.1em;
        text-align: left;
        margin-left: -17vw;
    }

    input#tname:hover {
        background: var(--cor1);
    } 
    
    input#btn {
        font-size: 1.1em;
        margin-left: -10vw;
    }

    input#btn:hover {
        background: var(--cor2);
        color: var(--cor1);
    }

    div.camp3 {
        margin-top: 45.1vh;
    }

    div.camp3 > p {
        font-size: 1.1em;
    }

    div.camp4 {
        width: 420px;
        margin-left: 3vw;
    }

    div.camp4 > h2 {
        font-size: 2em;
    }

    div.camp4 > p {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1200px) {
   div.camp1 {
    width: 400px;
    border: 3px solid var(--cor1);
    margin-left: 2vw;
   }

   div.camp1 > h2 {
    font-size: 2.5em;
   }

   div.camp1 > p {
    font-size: 1.2em;
   }

   div.camp2 {
    width: 80vw;
    border: 3px solid var(--cor1);
   }

   input#tname {
    width: 510px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
   }

   input#tname:hover {
    background: var(--cor2);
    color: var(--cor1);
   }

   input#btn {
    margin: 0px;
    margin-left: 20px;
   }

   input#btn:hover {
    background: var(--cor1);
    color: var(--cor2);
   }

   div.camp3 {
    margin-top: 39.1vh;
   }

   div.camp3 > p {
    font-size: 1.2em;
   }

   div.camp4 {
    width: 460px;
    margin-left: 57.9vw;
    margin-top: auto;
}

div.camp4 > h2 {
    font-size: 2.5em;
}

div.camp4 > p {
    font-size: 1em;
}
}

@media screen and (orientation: landscape) {
    .camp1, .camp2, .camp4 {
        margin: 10px;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

div.camp1 {
    animation: slideIn 1.5s
    ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.camp2, body.load {
    animation: fadeIn 2s
    ease-in-out;
}

@keyframes slideIn2 {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

div.camp4, div.txtan {
    animation: slideIn2 1.5s
    ease-in-out;
}

/*CSS para a página da surpresa*/

body.surprise, html.surprise {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2); /* Cor de fundo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.message-container {
    text-align: center;
    color: var(--cor1);
}

#name {
    font-size: 4em;
    animation: fadeIn 3s ease-in-out;
}

#message {
    font-size: 1.1em;
    text-align: justify;
    margin-top: 20px;
    margin: 10px 10px;
    animation: slideIn 2s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

a.fs {
    text-decoration: none;
    color: var(--cor2);
}

footer.surprisef {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: var(--cor1);
    text-align: center;
    font-size: 0.9em;
    color: var(--cor2);
    padding: 10px;   
}